<a href="https://colab.research.google.com/github/IraPavlenko/New-Story/blob/master/Python_text.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a string made of the second, third, and fourth character
str = ' language'

In [2]:
str = "language"
str1 = str[1] + str[2] + str[3]
print(str1)

ang

Create a new string made of the first three characters of each input string
str_1 = 'python'
str_2 = 'libraries'

In [5]:
 str_1 = "python" 
 str_2 = "libraries"
 str_3 =  str_1[0:3] + str_2[0:3]
 print(str_3)

pytlib

Remove special symbols/punctuation from a string
str = %welcome' to @nlp@course<s!!

In [37]:
str = "%welcome' to @nlp@course<s!!"
new = str.replace("@", " ")
new1 = new.translate({ord(i): None for i in "%'<!!"})
print(new1)

welcome to  nlp courses

Arrange string characters such that lowercase letters should come first
str = 'pRocESSinG'

In [36]:
str = "pRocESSinG"
str1 = str[0] + str[2:4] + str[7:9] + str[1] +str[4:7] + str[9]
print(str1)

pocinRESSG

Removal all characters from a string except integers
str = 'natural language 1 proce55ing 10'

In [34]:
 str = "natural language 1 proce55ing 10"
 new = str.translate({ord(i): None for i in "natural language proceing"})
 print(new)

15510

Replace each special symbol with # in the following string:
str = 'natural ! language @ processing & understanding'

In [35]:
str = "natural ! language @ processing & understanding"
new = str.replace("!", "#").replace("@", "#").replace("&", "#")
print(new)

natural # language # processing # understanding

Remove empty strings from a list of strings:
list = ['natural', 'language', ' ', 'processing', 'course']

In [1]:
list = ["natural", "language", " ", "processing", "course"]
list.remove(" ")
print(list)

['natural', 'language', 'processing', 'course']

Write a function to count occurrences of all characters within a string
 str = 'Rindfleischetikettierungsüberwachungsaufgabenübertragungsgesetz'

In [4]:
def count_chars(str):
    char_counts = {}
    for char in str:
        if char in char_counts:
            char_counts[char] += 1
        else:
            char_counts[char] = 1
    return char_counts
str = "Rindfleischetikettierungsüberwachungsaufgabenübertragungsgesetz"
char_counts = count_chars(str)
print(char_counts)

{'R': 1, 'i': 4, 'n': 5, 'd': 1, 'f': 2, 'l': 1, 'e': 9, 's': 5, 'c': 2, 'h': 2, 't': 5, 'k': 1, 'r': 4, 'u': 4, 'g': 6, 'ü': 2, 'b': 3, 'w': 1, 'a': 4, 'z': 1}

Concatenate two lists in the correct order to get a sentence:
list_1 = ['Hello', 'how', 'hometask']
list_2 = ['students', 'is',  'your']

In [12]:
list_1 = ["Hello", "how", "hometask"]
list_2 = ["students", "is", "your"]
list_3 = list_1 + list_2
print(f"Before : {list_3}") 
list_3[2] = 'is'
list_3[3] = 'your'
list_3[4] = 'students'
list_3[5] = 'hometask'
print (f"After : {list_3}")

Before : ['Hello', 'how', 'hometask', 'students', 'is', 'your']
After : ['Hello', 'how', 'is', 'your', 'students', 'hometask']

Convert 2 lists into one dictionary:
keys = ['New', 'Saint', 'San']
values = ['York', Petersburg', 'Francisco']

In [19]:
keys = ['New', 'Saint', 'San']
values = ['York', 'Petersburg', 'Francisco']

dict = {keys[i]: values[i] for i in range(len(values))}

print(dict)

{'New': 'York', 'Saint': 'Petersburg', 'San': 'Francisco'}

Delete a set of keys from a dictionary:
Dict: {'name': 'Mary', 'age': '25', 'city': 'Kyiv', 'gender': 'female'}
Keys to remove: gender, city

In [32]:
dict_1 = {'name': 'Mary', 'age': '25', 'city': 'Kyiv', 'gender': 'female'}
del dict_1['city']
del dict_1['gender']

print(dict_1)

{'name': 'Mary', 'age': '25'}